
body {
    font-family: Arial, sans-serif;
    background: rgb(255, 231, 236);
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: rgb(255, 255, 169);
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#error {
    color: red;
    margin: 15px 0;
}

#currentWeather {
    margin-top: 20px;
}

#forecast {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
    
}

.forecast-card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    width: 120px;
    box-shadow: 0px 2px 5px rgb(19, 6, 255);
}

h4 {
  margin-bottom: 3px;
}

.date {
  display: block;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}

body.dark {
    background: #121212;
    color: white;
}

body.dark .container {
    background: #1e1e1e;
}

body.dark .forecast-card {
    background: #2d2d2d;
    color: white;
}

body.dark button {
    background: #444;
    color: white;
}

